:root {
	--main-color:;
	--accent-color:;
	--soft-color: #e2e2e2;
}

/* ==========================================================================
   Site-wide
   ========================================================================== */
h1, h2, h3, h4{

}

p{

}

.row{
	margin-left: 0;
	margin-right: 0;
}

/* ==========================================================================
   Hero Treatment
   ========================================================================== */
.jumbotron .hero-bg{

}

.title-hero, .title-nohero{
	
}

/* ==========================================================================
   Content
   ========================================================================== */


/* ==========================================================================
   Sidebar
   ========================================================================== */
.post-sidebar{
	background-color: var(--soft-color);
}

/* ==========================================================================
   Social Buttons
   ========================================================================== */
.social-buttons li{
	list-style: none;
}

.social-buttons ul{
   display: inline-flex;
   display: -webkit-;
}

.social-buttons i{
   font-size: 40px;
   padding: 2%;
}
